FFOS_Metapodaci/META/barovic/studenti_barovic.xsd.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.w3schools.com" 
xmlns="http://www.w3schools.com" 
elementFormDefault="qualified"> 


    <xs:element name="studenti"> 
        <xs:complexType> 
            <xs:sequence>

                <xs:element name="student" maxOccurs="unbounded">
                    <xs:complexType> 
                    <xs:sequence> 

                        <xs:element name="ime" minOccurs="1" type="xs:string"/> 
                        <xs:element name="prezime" maxOccurs="unbounded" type="xs:string"/>
                        <!--<xs:element name="odsjek" type="xs:string"/> -->

                        <xs:element name="odsjek" minOccurs="0">
                            <xs:simpleType> 
                               <xs:restriction base="xs:string">
                                    <xs:enumeration value="OZIZ"/>
                                    <xs:enumeration value="Odsjek za engleski jezik"/>
                                    <xs:enumeration value="Odsjek za njemaÄki jezik"/>
                                </xs:restriction> 
                           </xs:simpleType>
                        </xs:element> 
                       


                    </xs:sequence> 
                    </xs:complexType>
                    </xs:element>
                    
            </xs:sequence> 
        </xs:complexType> 
    </xs:element>
</xs:schema> 
